apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: tanzu-quickstart
  labels:
    app: nginx
    role: demo
spec:
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 80
  type: LoadBalancer